@import url("https://fonts.googleapis.com/css?family=News+Cycle|Work+Sans:100,300&display=swap");
body {
  line-height: 1.6;
  display: grid;
  grid-template: "header header header header" 10em "hero hero hero hero" 50vh ". main main ." auto "footer footer footer footer" 10em/1fr minmax(30em, 5fr) 2fr 1fr;
  grid-column-gap: 1.5em; }

header {
  grid-area: header; }

header,
footer {
  background: #486090;
  display: flex;
  justify-content: center;
  align-items: center; }

.header-title {
  font-family: "News Cycle", sans-serif;
  font-size: 4rem;
  color: #E6E7FD;
  text-transform: uppercase;
  letter-spacing: 0.3em; }

.footer-title {
  font-family: "News Cycle", sans-serif;
  font-size: 1rem;
  color: #E6E7FD;
  text-transform: uppercase;
  letter-spacing: 0.3em; }

.add-location {
  grid-area: hero;
  background: #c2c2c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.add-location-title {
  font-family: "Work Sans", sans-serif;
  font-size: 2.875rem;
  font-weight: 300;
  color: #000;
  margin: 0; }

input {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #000; }

main {
  grid-area: main; }

.locations-header {
  font-family: "Work Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  color: #486090; }

footer {
  grid-area: footer; }

.card {
  position: relative;
  display: grid;
  grid-template: "img title" "img content" auto / 1fr 1fr;
  grid-column-gap: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  margin-bottom: 1.5em;
  justify-content: center;
  align-items: center; }

.card-img {
  grid-area: img;
  max-width: 100%; }

.card-title {
  grid-area: title;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 300;
  color: #486090; }

.card-content {
  grid-area: content;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: #000; }
  .card-content a {
    color: #486090;
    font-size: 1.1em; }
  .card-content button {
    position: absolute;
    right: 1.5em;
    bottom: 1.5em;
    margin: auto;
    width: 90px;
    height: 40px;
    background: #fff;
    border: 0;
    font-size: .9rem;
    font-family: "Work Sans", sans-serif;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 2px 0px rgba(72, 96, 144, 0.1);
    outline: none; }
    .card-content button:hover {
      color: #bdc8de;
      transform: scale(1.2); }
      .card-content button:hover span {
        opacity: 1;
        transition: all .2s ease-in-out; }
    .card-content button:active {
      transform: scale(1.4); }
    .card-content button span {
      position: absolute;
      top: -55px;
      left: 0;
      right: 0;
      margin: auto;
      background: #bdc8de;
      color: rgba(72, 96, 144, 0.5);
      padding: 10px 0;
      border-radius: 100px;
      opacity: 0;
      transition: all .2s ease-in-out; }
      .card-content button span:hover {
        opacity: 1; }
      .card-content button span:after {
        position: absolute;
        bottom: -7px;
        left: 0;
        right: 0;
        margin: auto;
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #bdc8de; }

/*# sourceMappingURL=locations.css.map */
